/* Master styles */
body
{
    margin: 0px;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper
{
    display: flex;
    justify-content: space-between;

    padding: 38px;
}

.left
{
    display: flex;
}

.nav-wrapper > .left > div
{
    margin-right: 20px;
    font-size: 0.9em;

    text-transform: uppercase;
}

.link
{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.right
{
    color: #ffffff;
}

.link a
{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.link:hover
{
    border-bottom: 1px solid black;
}

.link a:hover
{
    color: black;
}

.about
{
    text-align: center;
}
/* Me */
.name
{
    font-size: 25px;
    margin-bottom: 30px;
}

/* Video*/

.vid
{
    width: 560px;
    height: 315px; 

    position: absolute; 
    top: 0; right: 0; 
    bottom: 0; left: 0;
    margin: auto; 
}

/* Pics */

.img
{
    height: 200px;
}